.div {
  color:white
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  width: 100vw;
  height: 10vh;
  background-color: #23242B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px 0px 0px;
}

.content {
  flex: 1;
  background-color: #414565;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  color:white
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  margin-top: 50px;
}

.h1 {
  padding: 0;
  margin: 0;
}

.p {
  padding: 0;
  margin: 0;
}

.search {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
